*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@font-face {
  font-family: 'AC';
  font-weight: 400;
  src: url("../../assets/fonts/ACBK.woff2") format("woff2"); }

@font-face {
  font-family: 'AC';
  font-weight: 500;
  src: url("../../assets/fonts/ACM.woff2") format("woff2"); }

@font-face {
  font-family: 'AC';
  font-weight: 700;
  src: url("../../assets/fonts/ACBL.woff2") format("woff2"); }

html {
  font-family: 'AC', sans-serif;
  background-color: #1C1921;
  font-size: 45%;
  overflow-x: hidden; }
  @media (max-width: 75em) {
    html {
      font-size: 40%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 37.5%; } }

body, html {
  overflow-x: hidden; }

.hidden {
  visibility: hidden; }

.text-center {
  text-align: center !important; }

.success, .error {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh; }
  .success__text, .error__text {
    color: white;
    font-size: 5rem;
    max-width: 960px; }
  .success__img, .error__img {
    margin: 5rem auto;
    height: 35rem; }

.error__text {
  color: #EF5C65; }

.error__img {
  height: 35rem; }

.loader {
  width: 250px;
  height: 250px;
  border: 5px solid #312D38;
  border-top: 5px solid #625a71;
  border-radius: 50%;
  margin: auto;
  animation: rotating 2s linear infinite; }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.entry {
  min-height: 50vh;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10rem 1rem; }
  .entry__logo {
    height: 12rem;
    position: sticky;
    cursor: default;
    margin: -2.5rem; }
  .entry__qrReader {
    display: block;
    padding: .5rem 0 .5rem 0;
    max-width: 75%;
    border: 150px;
    margin: auto; }
    .entry__qrReader__title {
      display: block;
      color: white;
      font-size: 4rem;
      margin: 2rem; }
  .entry__email {
    width: 20rem;
    text-align: center;
    font-size: 1.5rem;
    height: 3rem;
    margin: auto;
    transform: scale(1.5); }
  .entry__title {
    font-size: 5.5rem;
    margin-top: 7rem;
    color: white;
    cursor: default;
    padding-bottom: 2.5rem; }
    @media (max-width: 75em) {
      .entry__title {
        margin-top: 12rem; } }
